h1(focusTitle) Допомога

.row.text-large
	.col-md-7
	
		section
			h2 Контакти
			p По будь-яким питанням, будь ласка, звертайтеся на пошту #[b {{contactEmail}}]

		section
			h2 Керування

			ul.spaced-list
				li
					b пересування
					.pl-2.mb-1.
						Use
						#[kbd-key(title="стрілка вгору"): fa-icon([icon]="upIcon")]
						#[kbd-key(title="стрілка вліво"): fa-icon([icon]="leftIcon")]
						#[kbd-key(title="стрілка вниз"): fa-icon([icon]="downIcon")]
						#[kbd-key(title="стрілка вправо"): fa-icon([icon]="rightIcon")]
						,
						#[kbd-key(title="W клавіша") W]
						#[kbd-key(title="A клавіша") A]
						#[kbd-key(title="S клавіша") S]
						#[kbd-key(title="D клавіша") D]
						,
						#[kbd-key.gamepad.gamepad-stick(title="Gamepad left stick") L#[.t]#[.l]#[.r]#[.b]]
						або #[b touch and drag] щоб рухатись
						#[br]
						Утримуйте #[kbd-key(title="shift key") shift] щоб йти повільно.
				li
					b чат
					.pl-2.mb-1.
						Використовуйте #[kbd-key(title="enter key") enter]
						або #[kbd-key.gamepad.gamepad-blue(title="Gamepad X button") X]
						щоб відкрити вікно чату та надіслати повідомлення.
						#[br]
						Використовуйте #[kbd-key(title="escape key") esc]
						або #[kbd-key.gamepad.gamepad-blue(title="Gamepad X button") X]
						щоб відмінити надсилання повідомлення
				li.
					утримуйте #[kbd-key(title="shift key") shift] щоб мати можливість натискати на землю та предмети позаду інших гравців
				li.
					#[b boop] - 
					#[kbd-key(title="B key") B] ,
					#[kbd-key.gamepad.gamepad-red(title="Gamepad B button") B] ,
					#[b two finger tap]
					or #[code /boop] command
				li.
					#[b interact] or #[b use item] - #[kbd-key(title="E key") E] or
					#[kbd-key.gamepad.gamepad-green(title="Gamepad A button") A]
				li.
					#[b land]  or #[b sit down] or #[b lie down] - 
					#[kbd-key(title="X key") X] ,
					#[kbd-key.gamepad.gamepad-dpad(title="Gamepad dpad down button") #[.dpad-down]]
					or #[code /stand] and #[code /sit] and #[code /lie] commands
				li.
					#[b sit up] or #[b stand up] or #[b fly up] - 
					#[kbd-key(title="C key") C] ,
					#[kbd-key.gamepad.gamepad-dpad(title="Gamepad dpad up button") #[.dpad-up]]
					or #[code /sit] and #[code /stand] and #[code /fly] commands
				li.
					#[b turn head] - 
					#[kbd-key(title="H key") H]
					or #[kbd-key.gamepad.gamepad-stick(title="Gamepad right stick") R#[.t]#[.l]#[.r]#[.b]]
					or #[code /turn] command
				li.
					#[b zoom in / out] -
					#[kbd-key(title="P key") P] and #[kbd-key(title="O key") O]
					or #[kbd-key.gamepad.gamepad-yellow(title="Gamepad Y button") Y]
				li.
					#[b hide all text] -
					#[kbd-key(title="F2 key") F2]
				li.
					#[b hide public chat] -
					#[kbd-key(title="F3 key") F3]
				li.
					#[b see through objects] -
					#[kbd-key(title="F4 key") F4]
				li
					| #[b fullscreen] - 
					span(*ngIf="!mac")
						| #[kbd-key(title="F11 key") F11]
					span(*ngIf="mac")
						| #[kbd-key(title="Control key") ctrl] + #[kbd-key(title="command key") ⌘] + #[kbd-key(title="F key") F]

		section
			h2 Вирази мордашок
			p Щоб змінити вираз мордашки поні в грі:

			ul.spaced-list
				li введіть будь-яку емоцію в чаті <code>:)</code>
				li закінчіть своє повідомлення емоцією <code>Hey there :D</code>
				li змінити вираз <b>не кажучи</b> нічого, написавши емоцію як команду чату <code>/:D</code>
				li зробити вираз постійним <code>/e :(</code> і використовуйте <code>/e</code> щоб повернути вираз за умовчанням
				li використовуйте як горизонтальні, так і вертикальні емоції: <code>&gt;:(</code> <code>D:</code> <code>O_o</code> <code>^c^</code> <code>6.9</code>
				li використовуйте емоції з рум’янцями, наприклад <code>O//O</code> або <code>O//v//O</code>

		section
			h2 Команди для чату
			p У чаті гри доступні такі команди:

			ul.spaced-list
				li <code>/help</code>, <code>/h</code> or <code>/?</code> - список усіх доступних команд
				li
					| <code>/roll</code>, <code>/rand</code> or <code>/random</code> - кинути випадкове число від 1 до 100
					ul.spaced-list
						li використовуйте <code>/roll 10</code> щоб кинути число від 1 до 10
						li використовуйте <code>/roll 5-10</code> щоб кинути число від 5 до 10
				li <code>/say</code> or <code>/s</code> - говорити в публічний чат (можна використовувати для переходу з паті-чату)
				li <code>/party</code> or <code>/p</code> - говорити в паті-чат
				li <code>/think</code> or <code>/t</code> - думати
				li <code>/whisper &lt;name&gt;</code> or <code>/w &lt;name&gt;</code> - прошепотіти до гравця (ви також можете натиснути на ім'я гравця в журналі чату)
				li <code>/reply</code> or <code>/r</code> - відповісти на останній вхідний шепіт
				li <code>/e</code> - установити постійний вираз мордашки <code>/e :)</code>
				li <code>/unstuck</code> - скинути позицію до точки появи та покинути гру
				li <code>/leave</code> - покинути гру
				li <code>/turn</code> - повернути голову
				li <code>/magic</code> - перемкнути магічне сяйво
				li <code>/drop</code> - викинути предмет
				li <code>/droptoy</code> - скинути іграшку
				li <code>/open</code> - розпакувати подарунок
				li <code>/toys</code> - показати кількість зібраних іграшок
				li <code>/boop</code> or <code>/)</code> - зробити тиць. Можна також використовувати: <code>/) XD</code>
				li <code>/lie</code> - лягти або сісти
				li <code>/sit</code> - сісти або встати
				li <code>/stand</code> - встати або приземлитися
				li <code>/fly</code> - взлетіти або приземлитися
				li <code>/sleep</code> or <code>/zzz</code> - заснути. Можна також використовувати: <code>/zzz :)</code>
				li <code>/love</code> or <code>/&lt;3</code> - пускає серця над головою. Можна також використовувати: <code>/love :)</code>
				li <code>/cry</code> - заплакати. Можна також використовувати: <code>/cry :D</code>
				li <code>/blush</code> - червоніти. Можна також використовувати: <code>/blush :D</code>
				li.
					Доступні такі команди виразів:
					<code>/smile</code> <code>/happy</code>
					<code>/frown</code>
					<code>/angry</code>
					<code>/sad</code>
					<code>/thinking</code>
					<code>/yawn</code>
					<code>/laugh</code> <code>/haha</code> <code>/хаха</code> <code>/jaja</code> <code>/lol</code>
					<code>/sneeze</code> <code>/achoo</code>
				li
					strong Збереження дому
					ul
						li <code>/savehouse</code> - зберігає поточні налаштування дому (єдиний стан збереження для всього акаунту)
						li <code>/loadhouse</code> - завантажує збережені налаштування дому (треба бути наодинці в домі або лідером парті)
						li <code>/resethouse</code> - скидає налаштування дому до початкового стану (треба бути наодинці в домі або лідером парті)
						li <code>/lockhouse</code> - забороняє іншим людям змінити дім (треба бути наодинці в домі або лідером парті)
						li <code>/unlockhouse</code> - дозволяє редагувати дім іншим людям (треба бути наодинці в домі або лідером парті)
						li <code>/removetoolbox</code> - прибирає ящик з інструментами з дому (треба бути наодинці в домі або лідером парті)
						li <code>/restoretoolbox</code> - повертає ящик для інструментів у дім (треба бути наодинці в домі або лідером парті)

		section
			h4 Команди, що можуть використовувати лише меценати

			ul.spaced-list
				li <code>/ss</code> - кольоровий текст мецената
				li <code>/s1</code> - кольоровий текст мецената 1 рівня (для використання меценатами вищого рівня)
				li <code>/s2</code> - кольоровий текст мецената 2 рівня (для використання меценатами вищого рівня)
				li <code>/s3</code> - кольоровий текст мецената 3 рівня (для використання меценатами вищого рівня)

		section
			h2 Емодзі чату
			p.
				Ви можете використовувати емодзі в чаті, ввівши їх назву, оточене двокрапкою #[samp :apple:]
				або за допомогою Unicode. Доступні емоції:

			.emotes
				ul
					li(*ngFor="let e of emotes")
						span.emote-sample.mr-2
							emote-box([emote]="e")
						| :{{e}}:

	.col-md-5
		section
			h2 Загальні проблеми

			section
				h4 Клавіші зависли під час використання клавіатури iPad
				p.text-fading.
					Через помилку в системі iOS деякі клавіші час від часу зависають,
					коли клавіша зависне, то просто натисніть на неї ще раз.
				p.text-fading.
					Ми рекомендуємо вам використовувати клавіші зі стрілками для пересування, оскільки вони не зависають.

			section
				h4 Інші гравці не бачать мої повідомлення
				p.text-fading.
					Це трапляється, якщо вас тимчасово заглушили за порушення правил
					Зазвичай це займає від кількох годин до кількох днів залежно від серйозності та частоти порушення.
				p.text-fading.
					Уникайте порушення правил, щоб цього не сталося в майбутньому.

			section
				h4 Сторінка не завантажується або не оновлюється
				p.text-fading.
					Спробуйте перезавантажити та очистити дані браузера.
					Якщо це не допомогло, перевірте, чи не спричиняє якесь із розширень проблему,
					Ви можете перевірити це, скориставшись режимом анонімного перегляду свого браузера.

			section
				h4 Мобільна клавіатура закриває вікно чату, коли гру встановлено на мобільному пристрої
				p.text-fading.
					Спробуйте перевстановити гру.

			section
				h4 Екран чорний або блимає після приєднання до гри
				p.text-fading.
					TЗазвичай це спричинено застарілими графічними драйверами або браузером.
					Перевірте, чи є ваш браузер в #[a(href="https://updatemybrowser.org/") up to date] і перевірте
					ч є нові оновлення для вашої відеокарти або пристрою.
				p.text-fading.
					Якщо ваш браузер уже оновлений, спробуйте встановити інший браузер.
					Ми рекомендуємо користуватися #[a(href="https://www.google.com/chrome/") Chrome]
					або #[a(href="https://www.mozilla.org/en-US/firefox/new/") Firefox].
				p.text-fading.
					Деякі старі пристрої не підтримують необхідні функції та ніколи не будуть сумісні з грою.

			section
				h4 Графічні збої, зникаючі об'єкти
				p.text-fading.
					Це може бути спричинено застарілими драйверами або недостатньою кількістю графічної пам’яті,
					подивіться попередні пункти для можливих рішень.

			section
				h4 Не вдається підключитися до гри
				p.text-fading.
					Це може бути викликано застарілим браузером або проблемами мережі.
					Спробуйте оновити ваш браузер або встановити інший, подивіться попередні пункти для отримання додаткової інформації.
				p.text-fading.
					Проблема з підключенням також може бути спричинена дією нашої служби захисту від DDOS-атак,
					перезавантаження сторінки та повторна спроба повинні вирішити проблему в цьому випадку.

			section
				h4 Гра повільна або "заїкається"
				p.text-fading.
					Це може бути спричинено застарілим браузером або деякими розширеннями браузера.
				p.text-fading.
					Відомо, що розширення Adblock у браузері #[b Chrome] виклакає "заїкання" в грі,
					обов’язково вимкніть його, щоб уникнути проблем. Інші подібні розширення також можуть викликати
					уповільнення і "заїкання" в грі.
				p.text-fading.
					Відомо, що Firefox має проблеми із затримкою, ми рекомендуємо
					користуватися #[b Chrome] або #[b Edge] браузерами для найкращої продуктивності.

			section
				h4 Чому я не можу створити кілька облікових записів?
				p.text-fading.
					Це обмеження діє, щоб захистити вас і саму гру від інших гравців у грі.
				p.text-fading.
					Дозвіл мати кілька облікових записів для однієї особи робить недійсними системи ігнорування та приховування,
					які дозволяють ігнорувати та приховувати інших гравців, які будь-яким чином переслідують або турбують вас.
					Це також робить недійсною систему заглушень та блокувань, яка захищає вас від гравців,
					які порушують правила гри, щоб турбувати або переслідувати інших.
				p.text-fading.
					Дозвіл використання кількох облікових записів одночасно значно збільшить навантаження на
					сервер і потенційно зробить гру непридатною для гри та з затримкою для всіх інших. Збільшення кількості
					персонажів гравців у грі також зменшить продуктивність візуалізації на слабих комп'ютерах,
					особливо на мобільних пристроях, до такого рівня, коли багато гравців більше не зможуть
					грати в гру.
				p.text-fading.
					Використання кількох облікових записів також робить недійсними будь-які обмеження (наприклад, обмеження кількості символів), 
					які ми накладаємо на облікові записи.
					Обмеження діють, щоб запобігти вичерпанню обмежених ресурсів сервера великою кількістю гравців,
					які є у нас на даний момент.

			section
				h4 Чому я не можу модифікувати гру за допомогою гаків або скриптів
				p.text-fading.
					Це обмеження діє, щоб захистити вас і саму гру від інших гравців у грі.
				p.text-fading.
					Майже всі скрипти сторонніх розробників, які використовувалися в грі, використовувалися для переслідування інших гравців.
					Навіть коли творець скрипту не мав наміру використовувати його таким чином, обмежені знання про гру та проблеми безпеки
					можуть призвести до ненавмисного створення скрипту, який буде шкідливим для інших гравців у грі.
				p.text-fading.
					Навіть у випадку, коли скрипт, здається, не впливає на інших гравців, він часто спричиняє проблеми з
					продуктивністю для сервера або для іншого гравця. Це змушує нас працювати над встановленням додаткових
					обмежень на взаємодію гравців і забирає час на розробку від додавання нових функцій у гру.
				p.text-fading.
					Додавання додаткових обмежень на взаємодію гравців також робить гру менш чутливою та більш обмеженою
					для всіх, а не лише для гравців, які використовують скрипти. Це особливо погано для гравців з поганим
					інтернет-з'єднанням, оскільки проблеми з мережою можуть бути неправильно інтерпретовані, як використання скриптів або спаму.

.text-center.text-muted.mt-3
	.tinyface
