.form-group(*ngIf="hasTooManyPonies")
	.alert.alert-warning(role="alert")
		| Ви маєте більше ніж дозволено, {{characterLimit}} персонажів, нові можуть бути видаленя.
		| Видаліть невикористовуваних персонажів щоб унинкути видалення потрібних.

.form-group(*ngIf="isMarkedForMultiples")
	.alert.alert-warning(role="alert")
		| Ваш аккаунт був помічений через створення двійника.
		| Створення інших аккаунтів можуть призвести до бану.

.form-group(*ngIf="accountAlert")
	.alert.alert-warning(role="alert")
		| {{accountAlert}}

.form-group(*ngIf="leftMessage")
	.alert.alert-warning(role="alert")
		| {{leftMessage}}

.form-group(*ngIf="isAndroidBrowser")
	.alert.alert-warning(role="alert")
		| Ваш браузер застарілий і має проблеми з запуском гри.
		| Будь ласка, встановіть інший або оновіть наявний браузер щоб уникнути проблем з грою.

.form-group(*ngIf="model.missingBirthdate && !birthdateSet && requestBirthdate")
	.alert.alert-warning.text-left(role="alert")
		label(for="birthdate")
			| Встановіть дату народження
		date-picker([(date)]="birthdate")
		.mt-2.text-right
			button.btn.btn-default.px-4((click)="saveBirthdate()") Save
		p.mb-0.mt-2
			| Будь ласка, заповніть #[b date of birth] щоб не втратити доступ до гри в майбутніх оновленнях.

.form-group.dropdown(dropdown)
	.btn-group.d-flex
		button.btn.btn-lg.btn-success.text-ellipsis.flex-grow-1(
			#playButton (click)="joining ? cancel() : play()" [disabled]="!canPlay && !joining")
			div(*ngIf="joining")
				fa-icon.mr-1([icon]="spinnerIcon" [spin]="true")
				| Відмінити
			div(*ngIf="!joining && server")
				| #[strong {{label || 'Play'}}] on #[span {{server.name}}]
			.text-faded(*ngIf="!joining && !server")
				| Виберіть сервер для гри
		button.btn.btn-lg.btn-success.flex-grow-0.dropdown-toggle(
			dropdownToggle aria-label="select server" [disabled]="joining" style="position: relative")

	.dropdown-menu.w-100(*dropdownMenu style="overflow: hidden")
		button.dropdown-item(*ngFor="let s of servers" (click)="server = s; playButton.focus()")
			div
				.float-right(style="position: relative;")
					.text-unsafe(*ngIf="s.offline") #[span.sr-only server] offline
					.text-muted(*ngIf="!s.offline") online #[span.sr-only players] ({{s.online}})
				.flag.mr-2(*ngFor="let f of s.countryFlags" [ngClass]="'flag-' + f")
				fa-icon.text-muted.mr-2(*ngIf="!hasFlag(s)" [icon]="getIcon(s)" size="lg")
				strong {{s.name}}
			.text-muted.text-wrap {{s.desc}}

.form-group.text-left.text-muted.server-alert(*ngIf="server?.alert === '18+'")
	fa-icon.float-left.p-2([icon]="warningIcon" size="2x")
	| Граючи на цьому сервері, ви підтверджуєте що вам є більше 18 років і ви не будете мати проблем 
	| спостерігаючи дорослі розмови.

.form-group.text-left.text-info.server-alert(*ngIf="server?.alert === 'test'")
	fa-icon.float-left.p-2([icon]="infoIcon" size="2x")
	| Supporter test server: Here you can try experimental and unfinished features that we're working on.
	| Keep in mind everything is subject to change.

.form-group(*ngIf="server?.offline")
	.alert.alert-info(role="alert")
		| Вибраний сервер недоступний, спробуйте пізніше

.form-group(*ngIf="offline")
	.alert.alert-info(role="alert")
		| Сервер недоступний, спробуйте пізніше

.form-group(*ngIf="protectionError && !offline")
	.alert.alert-info(role="alert")
		| Cloudflare error, #[button.btn.btn-sm.btn-outline-default((click)="reload()") reload] to continue.

.form-group(*ngIf="updateWarning")
	.alert.alert-warning(role="alert")
		| Сервер скоро перезапуститься для оновлення та технічної перерви.
		| Збережіть свого персонажа щоб уникнути втрати прогрессу.

.form-group(*ngIf="isBrowserOutdated")
	.alert.alert-warning(role="alert")
		button.close.float-right((click)="dismissOutdatedBrowser()" aria-label="Close" style="font-size: 20px;") &times;
		| Your browser is outdated and is known to have issues running Pony Town.
		| Make sure you have latest version installed.

.form-group(*ngIf="invalidVersion && !offline")
	.alert.alert-danger(role="alert")
		| Your client version is outdated, #[button.btn.btn-sm.btn-outline-default((click)="reload()") reload] to be able to play.

.form-group(*ngIf="isAccessError")
	.alert.alert-danger(role="alert")
		| You're no longer signed-in, #[button.btn.btn-sm.btn-outline-default((click)="reload()") reload] to be able to sign-in again.

.form-group(*ngIf="failedToLoadImages")
	.alert.alert-danger(role="alert")
		| Failed to load game assets, #[button.btn.btn-sm.btn-outline-default((click)="hardReload()") reload] to retry.

.form-group(*ngIf="isWebGLError")
	.alert.alert-danger(role="alert")
		| Failed to create WebGL context. Your graphics card drivers or browser are outdated or graphics
		| acceleration is disabled. Go to #[a.alert-link(href="http://webglreport.com/" tabindex) WebGL Report] to
		| check WebGL support in your browser.

.form-group(*ngIf="isBrowserError")
	.alert.alert-danger(role="alert")
		| Ваш браузер застарілий, переконайтесь що встановленна остання версія.

.form-group(*ngIf="isOtherError")
	.alert.alert-danger(role="alert")
		| {{error}}

.form-group.text-left.text-large(*ngIf="server")
	h5 Server rules
	p.text-muted.list-rules
		| {{server.desc}}
